<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/e6313bd8bc.js"
    crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="/img/logo.svg" class="logo" height="100px">
        <label for="busqueda">Buscar</label>
        <input type="text" name="busqueda" id="busqueda">
        <h3>Compra en cuotas y sin tarjeta de credito</h3>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Crea Tu cuenta</a></li>
            <li><a href="/login">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    </header>
    <h3>Seccion Basado en tu ultima compra</h3>
    <main>
        <section>
            <article>
                <img src="/img/cafetera.jpg">
                <div class="descripcion">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/img/samsung-galaxy-s10.jpg">
                <span class="fa-solid fa-truck"></span>
                <div class="descripcion">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/img/tv-samsung-smart.jpg">
                <div class="descripcion">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43</p>
                </div>
            </article>
        </section>
        <h3>Seccion de ofertas</h3>
        <section>
            <article>
                <img src="/img/cafetera.jpg">
                <div class="descripcion">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/img/macbook-pro.jpg">
                <div class="descripcion">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro</p>
                </div>
            </article>
            <article>
                <img src="/img/samsung-galaxy-s10.jpg">
                <div class="descripcion">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/img/tv-samsung-smart.jpg" >
                <div>
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos</p>
        <h3>Seguridad, de principio a fin</h3>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>